.navigation{
    background-color:#F0F2F5;
   max-width: 450px;
   width: 100%;
   border-right: 1px solid gray;
   
}

.navigation_header{
    padding:  10px 16px;
    display: flex;
   gap:10px;
   align-items:center;
}

.navigation_user_logo{
    height:40px;
    border-radius: 50%;
    
}
.user_name{
    
    color:#263035;
}

.navigation_footer{
    background-color:white;
    padding: 10px 0px;
}

.search{
    background-color:#F0F2F5;
    display: flex;
    align-items:center;
   
    gap: 32px;
    margin:  0px 16px;
    padding: 10px 9px;
    border-radius: 8px;
    margin-bottom: 10px;
}



.friends{
  
    max-height: 79.5vh;
    overflow-y: auto;
    overflow-x: hidden;
    
  }